%small.pull-right Edited #{time_ago_in_words page.updated_at} ago
%h1
  Urejate stran: #{page.title}
  %small [code: #{page.shortcode}]

= form_for page, url: admin_page_path(page) do |f|
  .form-group
    = f.label :title, 'Naziv'
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.text_area :content, :class => "tinymce", :rows => 20, :cols => 120
  .form-group
    = link_to 'Nazaj', admin_root_path, class: 'btn btn-danger'
    = f.submit 'Shrani', class: 'btn btn-primary'
