/ %h1 Welcome to Musicales Administration
/ %p.lead
/   Here you will find all components to edit your site


%h1 Urejanje vsebine


.row
  .col-sm-6
    %h2 Slovenski jezik
    %table.table
      %tr
        %th
        %th Naziv strani
        %th

      - Page.sl.order(:id).each_with_index do |p, i|
        %tr
          %td= (i+1)
          %td= p.title
          %td
            = link_to 'Uredi', edit_admin_page_path(p), class: 'btn btn-primary btn-sm'

  .col-sm-6
    %h2 Angleški jezik
    %table.table
      %tr
        %th
        %th Naziv strani
        %th

      - Page.en.order(:id).each_with_index do |p, i|
        %tr
          %td= (i+1)
          %td= p.title
          %td
            = link_to 'Uredi', edit_admin_page_path(p), class: 'btn btn-primary btn-sm'

/ = link_to '+ Dodaj stran', '#', class: 'btn btn-primary'
