= form_for album, url: (album.new_record? ? admin_albums_path : admin_album_path(album)), html: { class: 'form-horizontal' } do |f|
  - if album.errors.any?
    #error_explanation
      %h2= "#{pluralize(album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - album.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .col-sm-offset-2.col-sm-5.text-center
      %h4 Slovenščina
    .col-sm-5.text-center
      %h4 Angleščina

  .form-group
    = f.label :sl_name, "Naziv", class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :sl_name, class: 'form-control'
    .col-sm-5
      = f.text_field :en_name, class: 'form-control'

  .form-group
    = f.label :sl_content, "Opis", class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_area :sl_content, class: 'form-control'
    .col-sm-5
      = f.text_area :en_content, class: 'form-control'


  %hr
  .form-group
    .col-sm-offset-2.col-sm-10
      %h4 Slike

  .form-group
    .col-sm-offset-2.col-sm-5
      %table.table
        - album.pictures.each do |p|
          %tr{ id: "picture_#{p.id}_row"}
            %td= image_tag p.image.url(:thumb), width: 50
            %td.text-right= link_to 'Delete image', admin_album_picture_path(album, p), method: :delete, class: 'btn btn-danger btn-sm', :'data-confirm' => "Ali ste prepričani?", :'data-remote' => true

  .form-group
    = f.label :image_urls, "Naloži več", class: 'col-sm-2 control-label'
    .col-sm-3
      = f.file_field :image_urls, multiple: true, class: 'direct-upload form-control'
    #uploaded-images.col-sm-7

  %hr
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Posodobi', class: 'btn btn-primary'
      = link_to 'Nazaj', admin_albums_path, class: 'btn btn-default'

= render 'shared/upload_script', format: :js, album: album
