%h1 Pregled albumov

%table.table
  %tr
    %th
    %th Prva slika
    %th Ime
    %th Slike
    %th Ustvarjen
    %th

  - albums.order(:position).each do |album|
    %tr
      %td
        .link
          = link_to admin_album_move_up_path(album) do
            %span.glyphicon.glyphicon-chevron-up
        .link
          = link_to admin_album_move_down_path(album) do
            %span.glyphicon.glyphicon-chevron-down
      %td= image_tag(album.pictures.first.image.url(:thumb), width: 100) rescue nil
      %td
        = album.localized_name(:sl)
        %br
        = album.localized_name(:en)
      %td
        - album.pictures.last(5).each do |i|
          = image_tag(i.image.url(:thumb), width: 50)

      %td= time_ago_in_words(album.created_at)+' nazaj'
      %td
        = link_to 'Uredi', edit_admin_album_path(album), class: 'btn btn-primary'
        = link_to 'Izbriši', admin_album_path(album), method: :delete, :'data-confirm' => 'Ste prepričani da želite izbrisati album?', class: 'btn btn-danger'

%p
  = link_to '+ Dodaj album', new_admin_album_path, class: 'btn btn-success'
