%ul
  %li
    = link_to Page.by_shortcode(:index).title, home_path

  %li
    = link_to '#' do
      %i.arrow
      = t('glasbene_tiskovine')
    %ul.dropdown
      %li
        = link_to Page.by_shortcode(:vokal).title, vokalna_glasba_path
      %li
        = link_to Page.by_shortcode(:instrumental).title, instrumentalna_glasba_path

  %li
    = link_to Page.by_shortcode(:kompozicije).title, kompozicije_path

  %li
    = link_to '#' do
      %i.arrow
      = t('izobrazevanje')
    %ul.dropdown
      %li
        = link_to Page.by_shortcode(:seminarji).title, seminarji_path
      %li
        = link_to Page.by_shortcode(:izobrazevanja).title, izobrazevanja_path

  %li
    = link_to t('galerija'), galerija_path
