.opusi
  - opusi.order(:position).each do |opus|
    .opus
      .image
        = link_to post_path(opus) do
          .overlay
          = image_tag opus.images.first.thumb.url, width: 50, style: 'border: 1px solid #dedede'
      .details
        .title
          = link_to post_path(opus) do
            = opus.orginal_naslov

          - if opus.localized_naslov.present?
            %small
              %i= opus.localized_naslov

        - if opus.localized_avtor.present?
          .avtor= opus.localized_avtor

        - if opus.localized_zasedba.present?
          .zasedba=opus.localized_zasedba

      .clearer

  .apple_pagination
    = will_paginate opusi
