:coffeescript
  $ ->
    $(".direct-upload").each (i, elem) ->
      fileInput = $(elem)
      form = $(fileInput.parents("form:first"))
      submitButton = form.find("input[type=\"submit\"]")
      progressBar = $("<div class='progress-bar progress-bar-success progress-bar-striped'></div>")
      barContainer = $("<div class='progress'></div>").append(progressBar)
      fileInput.after barContainer

      fileInput.attr("orig_name", fileInput.attr("name"))
      fileInput.attr("name", "file_upload")

      fileInput.fileupload
        fileInput: fileInput
        url: "#{album.image_presigned_post.url}"
        type: "POST"
        autoUpload: true
        formData: #{album.image_presigned_post.fields.to_json.html_safe}
        paramName: "file" # S3 does not like nested name fields i.e. name="user[avatar_url]"
        dataType: "XML" # S3 returns XML if success_action_status is set to 201
        replaceFileInput: false

        progressall: (e, data) ->
          filesCount = parseInt(fileInput.attr('files_count'))
          filesLoaded = (parseInt(fileInput.attr('files_loaded')) || 0)

          progress = parseInt((data.loaded + filesLoaded*(data.total*0.2 / filesCount)) / (data.total*1.2) * 100, 10)
          progressBar.css "width", progress + "%"

        start: (e) ->
          submitButton.prop "disabled", true
          progressBar.css("width", "0%").text "Loading..."

          fileInput.attr('files_count', e.target.files.length)

        done: (e, data) ->
          # extract key and generate URL from response
          key = $(data.jqXHR.responseXML).find("Key").text()
          url = "//#{album.image_presigned_post.url.host}/" + key

          # create hidden field
          input = $("<input />",
            type: "hidden"
            name: fileInput.attr("orig_name")
            value: url
          )
          form.append input

          # create img filed
          image = $("<img src="+url+" width=100 />")
          $("#uploaded-images").append image

          filesCount = parseInt(fileInput.attr('files_count'))
          filesLoaded = (parseInt(fileInput.attr('files_loaded')) || 0) + 1
          fileInput.attr('files_loaded', filesLoaded)

          if filesLoaded == filesCount
            submitButton.prop "disabled", false
            progressBar.text "Uploading done"
            progressBar.css "width", "100%"

        fail: (e, data) ->
          submitButton.prop "disabled", false
          progressBar.css("background", "red").text "Failed"

