.contact-form

  .group
    padding: 5px

    label
      width: 100px
      float: left
      text-align: right
      padding: 5px 10px 5px 5px

    input, textarea
      width: 300px
      padding: 5px

  .group-checkbox
    margin-left: 110px
    padding: 10px

  .group-actions
    margin-left: 110px
    padding: 10px

    h1
      border: none


  .error
    color: red
