/*
 * CV Css Document
 * Designed by Jacob C.
*/

.cv {
  font-size: 14px;
  line-height: 20px;
}

.block {

}

.blocktitle {
  font-weight: bold;
  padding: 10px 10px 10px 0;
  text-align: right;
  float: left;
  width: 200px;

}


.blockdesc {
  color: #333;
  padding: 10px 0 10px 10px;
  float: left;
  width: 475px;
  border-left: 1px solid #ddd;
}

.blockdesc p {
  margin: 0 0 10px 0;
  padding: 0;
}

.cv-year-table {
  border: none;
  margin: 0;
  padding: 0;
}

.cv-year-table th {
  border: none;
  margin: 0;
  padding: 0;

  width: 80px;
  height: 30px;
  text-align: right;
  padding-right: 10px;
  vertical-align: top;
}

.cv-year-table td {
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

