//
// Opus Css Document
// Designed by Jacob C.
//


.opus-overlay
  background: asset-url('main/musicales-watermark.png')
  width: 100px
  height: 140px
  position: absolute


.opusi
  margin: 20px 0

  .opus
    padding: 5px 10px
    margin-top: 4px
    border-bottom: 1px solid #dedede

    .image
      float: left
      width: 65px

      .overlay
        background: asset-url('main/musicales-watermark.png')
        width: 52px
        height: 72px
        position: absolute
        background-size: cover
        background-position: center


    .details
      float: left
      width: 565px

      .title
        font-size: 18px

        small
          font-size: 16px
          display: block


.post
  h1
    small
      display: block

  h4
    padding: 0
    margin-bottom: 0

  p
    margin-top: 0

  .btn-order
    background-color: red
    color: white
    padding: 10px
    margin: 10px
    float: left
    font-weight: bold


  .pdf-content
    width: 200px
    float: left

  .main-content
    float: left
    margin-left: 20px
    width: 480px

.post-attributes
  td, th
    margin: 5px 0
    padding: 0 10px
    vertical-align: top

  th
    border-right: 1px solid #dedede
    text-align: right
    width: 120px
    line-height: 21px

  td p
    margin: 0
    padding: 0


.relatives
  h3
    border-bottom: 1px solid #dedede

  .relative
    width: 102px
    float: left
    margin: 5px 7px
