/*
 * Main Css Document
 * Designed by Jacob C.
*/

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
    margin:0;
    /*font-family:"Trebuchet MS", Arial, Verdana;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:0.74em;
    color:#555555;
    text-align:left;
    overflow-x: hidden;

    /*background-color:#EEEEEE;*/
    background: asset-url('main/bg.jpg') no-repeat top fixed #EEEEEE;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.page-container {
    margin: 20px auto;
    padding: 0;
    width: 1000px;

    /*background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .75);*/
}
.lang {
    width: 1000px;
    /*background-color: #F5F5F5;
    border-bottom: 2px solid #FFF;*/
    position: absolute;
}
.lang-menu {
    text-align: right;
    width: 1000px;
    height: 32px;
    line-height: 32px;
    margin: auto;
    cursor: default;
}


a {
    border: none;
    color:#253183;
    font-weight: inherit;
    text-decoration:none;
    cursor: pointer;
}
a:hover {
    color:#2a65ad;
}
a img {border: none; }


li {
    list-style-image: asset-url('main/li.gif');
    line-height:20px;
    text-align:left;
}
.header {
    font-family: 'Lato', sans-serif;
    text-align: left;
    width:1000px;
    padding-top: 20px;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.header img {
    height: 100px;
}

.navigation  {
    width: 1000px;
    margin: 10px auto 0 auto;
    padding: 0;
    /*border-bottom:1px solid #2c287d;*/

    /*background: rgb(255, 255, 255);*/
    /*background: rgba(255, 255, 255, .75);*/

  background-color: #fff;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.navigation ul {
    list-style: none;
    list-style-image: none;
}
.navigation ul li {
    float: left;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    color: #253183;
}
.navigation ul li a {
  display: block;
    color: inherit;
}

.navigation ul li:hover {
  background-color: #253183;
  color: #fff;
}

.navigation ul li i {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: asset-url('main/arrow.png');
}

.navigation ul li:hover i {
  background: asset-url('main/arrowwhite.png');
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.header h2 {
    font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    font-size:15px;
    font-style:oblique;
    text-transform:uppercase;
    text-align:right;
    font-weight: bold;
    margin:0;
    padding:0;
    color:#fff;
    /*border-bottom:1px solid #eeeeee;*/
}

.content {
    border-top: 10px solid #DDD;
    width:1000px;
    margin: 0 auto;
    text-align:left;
}

.clearer {
    clear:both;
    height: 0;
}

.sidebar {

    width:160px;
    float:right;
    font-size:95%;
    color:#253183;
    text-align:left;
}
.sidebar h1 {
    font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    font-size:20px;
    text-transform:uppercase;
    font-weight:normal;
    border-bottom:1px solid #eeeeee;
    color:#253183;
    text-align:right;
}
.submenu {
}
.submenu a {
    display:block;
    width:100%;
    background-position:right;
    background-repeat:no-repeat;
    padding:5px;
    padding-right:0;
}
.submenu a:hover {
    background-color:#eeeeee;
    background-image: asset-url('main/submenua_hover.jpg');
    background-repeat:repeat-y;
}
.mainbar {
    /* SIDEBAR OPTIONS
    margin-right:185px;
    padding-right:35px;
    background-image:url(../images/backgrounds/mainbar.jpg);
    background-position:top right;
    background-repeat:no-repeat;*/
   background-color: #fff;
}

.mainbar h1 {
  font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
  font-size:25px;
  text-transform:uppercase;
  font-weight:normal;
  border-bottom:1px solid #eeeeee;
  color:#253183;

  cursor: default;
}

.mainbar .articleimg {
    float:right;
    padding:5px;
    border:1px solid #eeeeee;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
}
.mainbar .articleimg2 {

    padding:5px;
    border:1px solid #eeeeee;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:25px;
}



.footer {
    width: 950px;
    border-top: 10px solid #DDD;
    padding: 20px 25px;
    margin: 0 auto 30px auto;
    /*background:#EEEEEE url('../images/backgrounds/footer.png') repeat-x left top;*/
    /*background-image: url(../images/backgrounds/footer.png);
    background-repeat: repeat-x;
    */color:#000000;
    cursor: default;

    background: rgb(255, 255, 255);
    /*background: rgba(255, 255, 255, .75);*/
}
.footer a {
    color:#81C0FF;
}
.footer a:hover {
    color:#AFD7FF;
}

.fcontainer {
  display: block;
  width: 200px;
  float: left;
  padding: 0;
  margin: 15px 0;
}

.fcontainerimg {
  display: block;
  width: 125px;
  float: left;
  padding: 0;
  margin: 0;
}

.bigdiv {
    position: absolute;
    width: 100%;
}

.left {
    left: -100%;
    /*display: none;*/
}
.center {
    left: 0;
}
.right {
    left: 100%;
    /*display: none;*/
}
.contentdiv {
  font-size: 15px;
  width: 700px;
  padding: 20px;
  margin: 0;
  float: left;
  background: rgb(255, 255, 255);
  /*background: rgba(255, 255, 255, .75);*/
}

.contentdiv .opus {
  font-size: 12px;
}

.navigation ul li:hover .dropdown {
  display: inline;
}
.navigation ul li a {
  display: block;
}

ul.dropdown {
    /*border-top: 10px solid #DDD;*/
  display: none;
  width: 250px;
  padding: 0;
  margin-top: 0;
  margin-left: -20px;
  list-style: none;
  position: absolute;
  z-index: 1000;
  background-color: #DDD;
}

ul.dropdown li {
  padding: 0 0 0 20px;
  height: 40px;
  line-height: 40px;
  display: block;
  float: left;
  width: 100%;
  background-color: #DDD;
}

.dropdown li:hover {
  background-color: #93cdf3;
}

ul.dropdown li a {
  display: block;
}


.news {
  width: 200px;
  margin: 0;
  padding: 20px;
  float: left;
  background: asset-url('main/newstop.png') top left no-repeat #fff;
  /*background-color: #fff;*/
}

.news h2 {
  text-align: center;
  border-bottom: 1px solid #EEE;
  color: #253183;
  cursor: default;
  font-size: 25px;
}

.aktual {
  color: #4D87CE;
  text-align: center;
  font-size: 15px;
  margin: 20px 10px;
}

.aktual a {
  display: block;
}

.novo {
  background-color: #253183;
  color: #fff;
  padding: 0 5px;
  font-weight: bold;
}

