#container
  #content
    %h1 #{t('galerija')} - #{album.localized_name}
    = album.localized_content.html_safe
    #thumbs
      - album.pictures.each do |p|
        = link_to '', p.image.url, style: "background-image:url(#{p.image.thumb.url.try(:html_safe)})", class: 'touch'

    %center
      = link_to "<-- Nazaj", galerija_path
