= form_for post, url: (post.new_record? ? admin_posts_path : admin_post_path(post)), html: { class: 'form-horizontal' } do |f|


  .form-group
    = f.label :file, 'PDF', class: 'col-sm-2 control-label'
    .col-sm-5
      = f.file_field :file, class: 'form-control'

      - if post.errors.include? :file
        %snap.label.label-danger Napaka PDF je obvezen

    .col-sm-5
      .checkbox
        = f.label :free do
          = f.check_box :free
          PDF na voljo za prenos

  - unless post.images.empty?
    .form-group
      .col-sm-10.col-sm-offset-2
        - post.images.each do |img|
          = link_to img.url, class: 'touch' do
            = image_tag img.thumb.url, width: 50


  .form-group
    = f.label :leto_nastanka, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :leto_nastanka, class: 'form-control'

  .form-group
    = f.label :kataloska_st, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :kataloska_st, class: 'form-control'

  .form-group
    = f.label :ismn, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :ismn, class: 'form-control'

  .form-group
    = f.label :youtube, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :youtube, class: 'form-control', placeholder: "Naprimer: https://www.youtube.com/watch?v=IOYyCHGWJq4"
    - if post.youtube?
      %label.control-label= link_to "#{post.youtube}", post.youtube

  .form-group
    = f.label :mp3, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.file_field :mp3, class: 'form-control'
    - if post.mp3?
      .col-sm-5
        %label.control-label= link_to "*** MP3 je naložen", post.mp3.url

  .form-group
    .col-sm-5.col-sm-offset-2.text-center
      %h3 Slovenski jezik
    .col-sm-5.text-center
      %h3 Angleški jezik

  .form-group
    = f.label :orginal_naslov, 'Orginalen naslov:', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :orginal_naslov, class: 'form-control'

      - if post.errors.include? :orginal_naslov
        %snap.label.label-danger Napaka, naslov je obvezen

  .form-group
    = f.label :naslov, 'Prevod', class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :sl_naslov, class: 'form-control'

    .col-sm-5
      = f.text_field :en_naslov, class: 'form-control'


  .form-group
    = f.label :avtor, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :sl_avtor, class: 'form-control'
    .col-sm-5
      = f.text_field :en_avtor, class: 'form-control'

  .form-group
    = f.label :besedilo, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :sl_besedilo, class: 'form-control'
    .col-sm-5
      = f.text_field :en_besedilo, class: 'form-control'

  .form-group
    = f.label :zasedba, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :sl_zasedba, class: 'form-control'
    .col-sm-5
      = f.text_field :en_zasedba, class: 'form-control'

  .form-group
    = f.label :lang, 'Jezik', class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :sl_lang, class: 'form-control'
    .col-sm-5
      = f.text_field :en_lang, class: 'form-control'

  .form-group
    = f.label :vrsta_izdaje, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_field :sl_vrsta_izdaje, class: 'form-control'
    .col-sm-5
      = f.text_field :en_vrsta_izdaje, class: 'form-control'

  .form-group
    = f.label :opis, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_area :sl_opis, :class => "tinymce", :rows => 10, :cols => 120, class: 'tinymce form-control'
    .col-sm-5
      = f.text_area :en_opis, :class => "tinymce", :rows => 10, :cols => 120, class: 'tinymce form-control'

  .form-group
    = f.label :cena, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.text_area :sl_cena, :class => "tinymce", :rows => 10, :cols => 120, class: 'tinymce form-control'
    .col-sm-5
      = f.text_area :en_cena, :class => "tinymce", :rows => 10, :cols => 120, class: 'tinymce form-control'


  .form-group
    .col-sm-10.col-sm-offset-2
      .checkbox
        %label
          = f.check_box :vokalna
          Vokalna glasba
      .checkbox
        %label
          = f.check_box :instrumentalna
          Instrumentalna glasba

      .checkbox
        %label
          = f.check_box :novo
          Novo!


  .form-group
    = f.label :related_post_ids, 'Sorodni produkti', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :related_post_ids, Post.where.not(id: post.id).map{|p| [p.orginal_naslov, p.id, selected: (post.related_posts.include?(p))] }, {}, { :multiple => true, :size => Post.count, class: 'form-control' }

  .form-group
    .col-sm-10.col-sm-offset-2
      = link_to 'Prekliči', admin_posts_path, class: 'btn btn-danger'
      = f.submit 'Shrani', class: 'btn btn-primary'

