%h1 Tiskovine
%small Število vseh tiskovin v bazi: #{Post.count}

%table.table
  %tr
    %th
    %th Naslov
    %th Avtor
    %th Besedilo
    %th Zasedba
    %th Leto nastanka
    %th Jezik
    %th Vrsta izdaje
    %th Kataloska Št.
    %th ISMN
    %th Kategorije
    %th

  - Post.all.order(:position).each do |opus|
    %tr
      %td
        .link
          = link_to admin_post_move_up_path(opus) do
            %span.glyphicon.glyphicon-chevron-up
        .link
          = link_to admin_post_move_down_path(opus) do
            %span.glyphicon.glyphicon-chevron-down
      %td= opus.orginal_naslov
      %td= opus.localized_avtor
      %td= opus.localized_besedilo
      %td= opus.localized_zasedba
      %td= opus.leto_nastanka
      %td= opus.localized_lang
      %td= opus.localized_vrsta_izdaje
      %td= opus.kataloska_st
      %td= opus.ismn
      %td
        - if opus.vokalna?
          .label.label-primary Vokalna
        - if opus.instrumentalna?
          .label.label-primary Instrumentalna
        - if opus.novo?
          .div
            %span.label.label-primary Novo
      %td
        = link_to 'Uredi', edit_admin_post_path(opus), class: 'btn btn-primary'
        = link_to 'Izbriši', admin_post_path(opus), :method => :delete, :data => { :confirm => 'Ste prepričani?' }, class: 'btn btn-danger'

%br
%br
%p
  = link_to '+ Dodaj tiskovino', new_admin_post_path, class: 'btn btn-primary pull-right'
