%h1 Piškotki

%h3 Pravna podlaga
%p Podlaga za obvestilo je spremenjeni Zakon o elektronskih komunikacijah (Uradni list št. 109/2012; v nadaljevanju ZEKom-1), ki je začel veljati v začetku leta 2013. Prinesel je nova pravila glede uporabe piškotkov in podobnih tehnologij za shranjevanje informacij ali dostop do informacij, shranjenih na računalniku ali mobilni napravi uporabnika.
%h3 Kaj so piškotki?
%p Piškotki so majhne datoteke, pomembne za delovanje spletnih strani, največkrat z namenom, da je uporabnikova izkušnja boljša.
%p Piškotek običajno vsebuje zaporedje črk in številk, ki se naloži na uporabnikov računalnik, ko ta obišče določeno spletno stran. Ob vsakem ponovnem obisku bo spletna stran pridobila podatek o naloženem piškotku in uporabnika prepoznala.
%p Poleg funkcije izboljšanja uporabniške izkušnje je njihov namen različen. Piškotki se lahko uporabljajo tudi za analizo vedenja ali prepoznavanje uporabnikov. Zato ločimo različne vrste piškotkov.
%h3 Vrste piškotkov, ki jih uporabljamo na tej spletni strani
%p Piškotki, ki jih uporabljamo na tej strani sledijo smernicam:
%ul
  %li
    %a{:href => "https://www.ip-rs.si/fileadmin/user_upload/Pdf/smernice/Smernice_o_uporabi_piskotkov.pdf"} Informacijske pooblaščenke RS (PDF)
  %li
    %a{:href => "http://www.international-chamber.co.uk/components/com_wordpress/wp/wp-content/uploads/2012/04/icc_uk_cookie_guide.pdf"} Mednarodne gospodarske zbornice (PDF)
%h3 1. Nujno potrebni piškotki
%p Tovrstni piškotki omogočajo uporabo nujno potrebnih komponent za pravilno delovanje spletne strani. Brez teh piškotov servisi, ki jih želite uporabljati na tej spletni strani, ne bi delovali pravilno (npr. prijava, nakupni proces, ...).
%h3 2. Izkustveni piškotki
%p Tovrstni piškotki zbirajo podatke, kako se uporabniki vedejo na spletni strani z namenom izboljšanja izkustvene komponente spletne strani (npr. katere dele spletne strani obiskujejo najpogosteje). Ti piškotki ne zbirajo informacij, preko katerih bi lahko identificirali uporabnika.
%h3 3. Funkcionalni piškotki
%p Tovrstni piškotki omogočajo spletni strani, da si zapomni nekatere vaše nastavitve in izbire (npr. uporabniško ime, jezik, regijo) in zagotavlja napredne, personalizirane funkcije. Tovrstni piškotki lahko omogočajo sledenje vašim akcijam na spletni strani.
%h3 4. Oglasni ali ciljani piškotki
%p Tovrstne piškotke najpogosteje uporabljajo oglaševalska in družabna omrežja (tretje strani) z namenom, da vam prikažejo bolj ciljane oglase, omejujejo ponavljanje oglasov ali merijo učinkovitost oglaševalskih akcij. Tovrstni piškotki lahko omogočajo sledenje vašim akcijam na spletu.
%h3 Nadzor piškotkov
%p Za uporabo piškotkov se odločate sami. Piškotke lahko vedno odstranite in s tem odstranite vašo prepoznavnost na spletu. Prav tako večino brskalnikov lahko nastavite tako, da piškotkov ne shranjujejo.
%p Za informacije o možnostih posameznih brskalnikov predlagamo, da si ogledate nastavitve.
