%h1= t('galerija')

.albums
  - Album.joins(:pictures).order(:position).uniq.each do |a|
    .album
      = link_to album_path(a) do
        .image= image_tag a.pictures.first.image.url(:thumb), width: 100
        .name= a.localized_name
        .text-center (#{a.pictures.count} #{t('images')})
