!!!
%html
  %head
    %title Aleš Makovac, skladatelj in dirigent
    = stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'landing', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'shared/ga_script'
  %body
    %center
      .header
        %a
          = image_tag 'landing/logo.png'
          / %img{:alt => "Ales Makovec", :src => "./musicales_landing_files/logo_intro.png"}
      .lang
        .lang-left
          = link_to home_path(locale: :sl) do
            = image_tag 'landing/si.png'
            %span VSTOPITE
        .lang-right
          = link_to home_path(locale: :en) do
            = image_tag 'landing/uk.png'
            %span ENTER
        .clearer
    = render 'cookies_eu/cookies_eu'
