#container
  #content
    .contact-form
      = form_tag(narocilo_path, method: :post, style: "font-size:14px; margin-left:20px;") do
        .group-actions
          %h1= t('narocilo.pisitenam')

        .group
          %label= t('narocilo.vnesite_ime')
          %input{:name => "post[name]", :type => "text"}

        .group
          %label= t('narocilo.vnesite_email')
          %input{:name => "post[email]", :type => "email"}

        .group
          %label= t('narocilo.naslov')
          %input{:name => "post[subject]", :type => "text"}

        .group
          %label= t('narocilo.sporocilo')
          %textarea{:cols => "50", :name => "post[message]", :rows => "10"}

        .group-checkbox
          %input{:name => "post[copy]", :type => "checkbox", :value => "1", id: 'post_copy'}
          %label{for: 'post_copy'}= t('narocilo.email_copy')

        .group-actions
          %input{:name => "send_email", :type => "submit", :value => t('narocilo.send')}

        - if flash[:error].present?
          .group-actions
            .error= flash[:error]

        - if flash[:notice].present?
          .group-actions
            = flash[:notice]

        .group-actions
          %p= t('narocilo.extra1')
