.post
  %h1
    = post.orginal_naslov
    %small
      %i= post.localized_naslov

  .pdf-content
    - post.images.each_with_index do |img, i|
      - if i == 0
        = link_to img.url, class: 'touch', :'data-gallery' => post.id do
          = image_tag img.thumb.url, width: 200, style: 'border: 1px solid #dedede'
          .line.text-center Kliknite za povečavo

      - else
        = link_to '', img.url, class: 'touch', :'data-gallery' => post.id

  .main-content

    %table.post-attributes
      - if post.localized_avtor.present?
        %tr
          %th= t('product.avtor')
          %td= post.localized_avtor

      - if post.localized_besedilo.present?
        %tr
          %th= t('product.besedilo')
          %td= post.localized_besedilo

      - if post.localized_zasedba.present?
        %tr
          %th= t('product.zasedba')
          %td= post.localized_zasedba

      - if post.leto_nastanka.present?
        %tr
          %th= t('product.leto_nastanka')
          %td= post.leto_nastanka

      - if post.localized_lang.present?
        %tr
          %th= t('product.jezik')
          %td= post.localized_lang

      - if post.localized_vrsta_izdaje.present?
        %tr
          %th= t('product.vrsta_izdaje')
          %td= post.localized_vrsta_izdaje

      - if post.kataloska_st.present?
        %tr
          %th= t('product.kataloska_st')
          %td= post.kataloska_st

      - if post.ismn.present?
        %tr
          %th ISMN
          %td= post.ismn

      - if post.localized_opis.present?
        %tr
          %th= t('product.opis')
          %td= post.localized_opis.html_safe

      - if post.youtube.present?
        %tr
          %th Youtube
          %td= link_to t('product.download_youtube_link'), post.youtube, target: :blank

      - if post.mp3.present?
        %tr
          %th Mp3
          %td= link_to t('product.download_mp3_link'), post.mp3.url, target: :blank

      - if post.free?
        %tr
          %th= t('product.download_pdf')
          %td= link_to t('product.download_pdf_link'), post.file.url, target: :blank

      - if post.localized_cena.present?
        %tr
          %th= t('product.cena')
          %td= post.localized_cena.html_safe

      %tr
        %td
        %td= link_to t('product.naroci'), nakup_path, class: 'btn btn-order'

.clearer

- unless post.related_posts.empty?
  .relatives
    %h3=t 'product.sorodni_produkti'
    - post.related_posts.each do |relative|
      .relative
        = link_to post_path(relative) do
          .opus-overlay
          = image_tag relative.images.first.thumb.url, width: 100, style: 'border: 1px solid #dedede'

        .text-center
          = link_to post_path(relative) do
            = relative.orginal_naslov
            .line
              %small
                %i= relative.localized_naslov

