//
// Main Css Document
// Designed by Jacob C.
//
//= require cookies_eu
//= require_self
//

/* latin-ext
@font-face
  font-family: 'Headland One'
  font-style: normal
  font-weight: 400
  src: local("Headland One"), local("HeadlandOne-Regular"), url(http://fonts.gstatic.com/s/headlandone/v4/iGmBeOvQGfq9DSbjJ8jDV4joYw3YTyktCCer_ilOlhE.woff2) format("woff2")
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF


/* latin
@font-face
  font-family: 'Headland One'
  font-style: normal
  font-weight: 400
  src: local("Headland One"), local("HeadlandOne-Regular"), url(http://fonts.gstatic.com/s/headlandone/v4/iGmBeOvQGfq9DSbjJ8jDVxampu5_7CjHW5spxoeN3Vs.woff2) format("woff2")
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000


/* latin
@font-face
  font-family: 'Junge'
  font-style: normal
  font-weight: 400
  src: local("Junge"), local("Junge-Regular"), url(http://fonts.gstatic.com/s/junge/v4/e2vbqR0o2miOXoFqd-j6T6CWcynf_cDxXwCLxiixG1c.woff2) format("woff2")
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000


body
  margin: 0
  font-family: "Trebuchet MS", Arial, Verdana
  font-size: 0.74em
  color: #2c287c
  text-align: left
  overflow-x: hidden
  /*background-color:#EEEEEE;
  background: asset-url('landing/bgintro.jpg') no-repeat top fixed #EEEEEE
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

center
  /*background-color: #FFFFFF;

a
  display: block
  border: none
  color: #2c287c
  text-decoration: none
  cursor: pointer
  outline: none
  &:hover
    color: #2c287c
  img
    border: none

.clearer
  clear: both

.header
  text-align: center
  width: 750px
  padding-top: 60px
  cursor: default
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none

.lang
  margin-top: 60px
  width: 512px

.lang-left, .lang-right
  float: left
  width: 256px
  text-align: center

.lang
  img
    width: 180px
  span
    display: block
    width: 100%
    font-family: 'Headland One', serif
    font-size: 20px
