!!!
%html
  %head
    %title ARTES MUSICALES, Aleš Makovac s.p.
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'shared/ga_script'

  %body
    .page-container
      .lang
        .lang-menu
          = link_to url_for(locale: :sl) do
            = image_tag 'main/slo.png', style: 'vertical-align:top'
          = link_to url_for(locale: :en) do
            = image_tag 'main/uk.png', style: 'vertical-align:top'
      .header
        = link_to root_path do
          = image_tag 'main/logo_top_png.png', style: 'vertical-align:top'
        %h2
          Aleš Makovac
          %br
          = t('slogan')
      .navigation
        = render 'shared/menu'
        .clearer  
      .content
        .mainbar
          .contentdiv
            = yield
            .clearer
          .news
            - unless Post.newest.empty?
              %h2 #{t 'new'}!

            - Post.newest.each do |p|
              .aktual
                = link_to post_path(p) do
                  / .line
                  /   %label.novo novo!
                  - unless p.images.empty?
                    = image_tag p.images.first.url, width: 100, style: 'border: 1px solid #dedede'
                  .line.color-blink
                    %strong= p.orginal_naslov
                  .line.color-blink
                    %small
                      %i= p.localized_naslov
                  .line= p.localized_avtor
                  .line= p.localized_zasedba

          .clearer
        .footer
          .fcontainerimg
            = image_tag 'main/logo_footer.jpg', height: 100, width: 100
          .fcontainer
            %strong ARTES MUSICALES
            %br/
            %strong Aleš Makovac s.p.
            %br/
            Na žago 17
            %br/
            8351 Straža
          .fcontainer
            %strong Tel:
            +386 (0)51 384 989
          .fcontainer
            %strong E-mail:
            %a{:href => "mailto:ales.makovac@gmail.com"} ales.makovac@gmail.com
            %br/
            / %strong E-mail:
            / info@musicales.si
            / %br/
          .fcontainer
            %ul{:style => "margin:0 0 0 50px; padding: 0;"}
              %li
                = link_to t('prva_stran'), root_path
              %li
                = link_to t('pustite_sporocilo'), sporocilo_path
              %li
                = link_to t('oddajte_narocilo'), narocilo_path
              %li
                = link_to t('piskotki'), cookies_path
          .clearer
    = render 'cookies_eu/cookies_eu'

